<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          #<%= summary.summary_number %>
        </div>
        <!-- <div class="col-md-12"> -->
          <%= summary.text %>
          <a href="#" class="btn btn-success" role="button">+1</a>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>