<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Logan's Movie Marathon Synopsis Challenge!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">LeaderBoard</div>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.username.capitalize %></td>
              <td><%= user.score %></td>
            </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2>Movies</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <% @movies.each do |movie| %>
        <%= link_to(movie) do %>
          <div class="panel panel-default">
            <div class="panel-body">
              <%= movie.title %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
